<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="Products" value="0|DataGen.StateMachine"/>
    <add key="DefaultProduct" value="DataGen.StateMachine"/>
    <add key="BuildConfigurations" value="Release"/>
    <add key="MsBuildPath" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\msbuild.exe"/>
    <add key="NuGetPath" value="C:\Program Files (x86)\NuGet\nuget.exe"/>
    <add key="NuGetSource" value="https://www.nuget.org/api/v2/package"/>
    <add key="PublishLocally" value="false"/>
    <add key="PublishLocallyPath" value=""/>
    <add key="GitPath" value="C:\Program Files\Git\cmd\git.exe"/>
  </appSettings>
</configuration>
